@page
@model BantFlags.Pages.IndexModel
@{
    ViewData["Title"] = "BantFlags";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>/bant/ Flags</h1>
<p>E<span lang="jp">メール</span>: boku (at) plum (dot) moe</p>