@page
@model BantFlags.Pages.IndexModel
@{
    ViewData["Title"] = "BantFlags";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>/bant/ Flags</h1>
<p>E<span lang="jp">メール</span>: boku (at) plum (dot) moe</p>

<a href="~/bantflags.user.js">Install Bantflags</a>
<br />
<br />
<a href="https://nineball.party/srsbsn/3521#bottom">Official Thread</a>
<br />
<br />
<a asp-page="Upload">Upload Flags</a>